/* Style */
@import "css/reset.css";
@import "css/21px.css";
@import "css/2c-l-fixed.css";
@import "css/drop-downs.css";
@import "css/screen.css";

table{margin-top:30px;}
th{font-weight:normal;vertical-align:top;}
.news .date{ margin-right:10px;}
/* #TODO */
span.tt{display:none;}
div.tt{display:none;position:absolute;width:400px;background:#f6f6f6;}
div.tt table{margin:0;}

#content{margin-top:10px;}

div#container{min-height:600px;height:auto !important;height:600px;}
#page-nav li{margin-right:0;}
#page-nav li a{background:#EEEDEA none repeat scroll 0 0;border:none;color:#4B353E;-moz-border-radius:8px;-webkit-border-radius:8px;line-height:normal;}
#page-nav li ul a {-moz-border-radius:none;-webkit-border-radius:none;}
#navigation{background:#EEEDEA none repeat scroll 0 0;padding:5px 0;}
#page-nav li a:hover{background:#a2a4a5;color:#fff;text-decoration:none;}
#page-nav li ul {border:none; line-height:normal; background:#EEEDEA;}

/* Link Edit Page */
.pop, .pop-list{width:100px;display:block;}
.pop-list{display:none;position:absolute;background:#eee;padding:7px}

/* Navigation Styles */
#navigation {position:absolute;left:0;margin:0;width:100%;}
#header-container{margin-top:100px;}
#body-container{margin-top:0;}
